/*
**  TABLE OF CONTENTS
**
**  1. Layout
**  2. Transitions and Animation
**  3. Styles
*/

@function compact($vars...) {
  $list: ();
  @each $var in $vars {
    @if $var {
      $list: append($list, $var, comma);
    }
  }
  @return $list;
}

/*     Layout
----------------------------------------------------------------------------- */

@mixin box-sizing( $type: border-box ){
  -moz-box-sizing: $type;
  -webkit-box-sizing: $type;
  box-sizing: $type;
}


@mixin create-grid( $columns ){
  $idx: $columns;
  @while $idx > 0{
    .span#{$idx}of#{$columns}{
      width: $idx/$columns * 100%;
    }
    $idx: $idx - 1;
  }
}

@mixin clearfix(){
  &:after{
    content: "";
    display: table;
    clear: both;
  }
}



/*     Transitions and Animation
----------------------------------------------------------------------------- */

@mixin transition( $type: all, $time: .3s, $easing: linear) {
       -o-transition: $type $time $easing;
     -moz-transition: $type $time $easing;
  -webkit-transition: $type $time $easing;
          transition: $type $time $easing;
}



/*     Styles
----------------------------------------------------------------------------- */

@mixin border-radius( $tl, $tr: $tl, $br: $tl, $bl: $tl ) {
  -webkit-border-radius: $tl $tr $br $bl;
     -moz-border-radius: $tl $tr $br $bl;
          border-radius: $tl $tr $br $bl;
}

@mixin box-shadow( $args, $args2: false ){
  -webkit-box-shadow: compact($args, $args2);
  box-shadow: compact($args, $args2);
}

@mixin select-color( $hex ){
  ::selection {
    background: $hex; /* Safari */
  }
  ::-moz-selection {
    background: $hex; /* Firefox */
  }
}

@mixin colors( $name, $hex ){

  .bg-#{$name}{
    background: $hex;
  }

  .#{$name}{
    color: $hex;
  }

}