/*
**  Table of Contents
**
**  1.  Colors
**  2.  Typography
**
*/

/*      Colors
------------------------------------------------- */

$black: #333;
$dark: #5d5c5d;
$mid: #999799;
$light: #f9f9f9;
$bright: $light;
$white: #fff;

$pop: #95d1c4;
$highlight: #c5e5de;


/*      Scale
------------------------------------------------- */

$base: 6px;
$gutter: $base*3;


/*      Typography
------------------------------------------------- */

$baseline: $base*4;

$type-small: 15px;
$type-mid: 18px;
$type-large: 36px;

$line-small: 21/15;
$line-mid: 30/18;
$line-large: 42/40;