/*
**  Table of Contents
**
**  1.  Colors
**  2.  Typography
**
*/

/*      Colors
------------------------------------------------- */

$black: #333;
$dark: #5d5c5d;
$mid: #999799;
$light: #f9f9f9;
$bright: $light;
$white: #fff;

$pop: #95d1c4;
$highlight: #c5e5de;

// Orange/Reds
$r1: #F5B7AB;
$r2: #EE836E;
$r3: #E85C41;
$r4: #DB3A1B;

// Yellows
$y1: #FFE8AA;
$y2: #FEDE88;
$y3: #FED156;
$y4: #FEBE12;

// Greens
$g1: #C5E5DE;
$g2: #95D1C4;
$g3: #72C1B0;
$g4: #449A88;

// Blues
$b1: #B1E0EC;
$b2: #6DC5DC;
$b3: #52BAD5;
$b4: #2C9AB7;

// Blacks
$k1: #F2F2F2;
$k2: #B7B7B7;
$k3: #5D5C5D;
$k4: #373737;


/*      Scale
------------------------------------------------- */

$base: 6px;
$gutter: $base*3;

$break-mid: 660px;


/*      Typography
------------------------------------------------- */

$baseline: $base*4;

$type-small: 15px;
$type-mid: 18px;
$type-large: 36px;

$line-small: 21/15;
$line-mid: 30/18;
$line-large: 42/40;