/*
**  Table of Contents
**
**  1.  Colors
**  2.  Typography
**
*/

/*      Colors
------------------------------------------------- */

$black: #333;
$dark: #5d5c5d;
$mid: #999799;
$light: #f9f9f9;
$bright: $light;
$white: #fff;

$pop: #95d1c4;
$highlight: #c5e5de;


/*      Scale
------------------------------------------------- */

$base: 6px;
$gutter: $base*3;


/*      Typography
------------------------------------------------- */




$baseline: 15px;
$small: 15px;
$body: 18px;
$subtitle: 20px;
$title: 30px;