/*
**  TABLE OF CONTENTS
**  
**  1. Colors
**	2. Typography
**  3. Styles
*/


/*     Colors
----------------------------------------------------------------------------- */

$dark: #2D3241;
$mid: #9698A0;
$light: #E1E2E4;
$bright: #F0F0F1;
$white: #f7f7f8;

$pop: #FFDD00;
$highlight: #FFF6BF;

@include select-color( $highlight );

/*
**  @colors produces:
**
**  .bg-#{name}{
**    background: $name;
**  }
**
**  .#{name}{
**     color: $name;
**  }
*/

@include colors( dark, $dark );
@include colors( mid, $mid );
@include colors( light, $light );
@include colors( bright, $bright );

@include colors( pop, $pop );
@include colors( highlight, $highlight );



/*     Typography
----------------------------------------------------------------------------- */

@import "http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,600,300italic,600italic";

$baseline: 15px;
$small: 15px;
$body: 18px;
$title: 30px;

@mixin font-size-small{
	font-size: $small;
	line-height: $baseline;
}

@mixin font-size-body{
	font-size: $body;
	line-height: $baseline * 2;
}

@mixin font-size-title{
	font-size: $title;
	line-height: $baseline * 3;
}

@mixin serif{
	font-family: Georgia, "Times New Roman", Times, sans-serif;
}

@mixin sans{
	font-family: "Source Sans Pro", "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-weight: 600;
}

@mixin sans-light{
	font-family: "Source Sans Pro", "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-weight: 300;
}

@mixin monospace{
	font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
}


/*
**  Start Classes
*/

body{
	@include font-size-body;
	@include serif;
	color: $mid;
}

.title{
	@include font-size-title;
	@include sans;
	color: $dark;
}

.body{
	@include font-size-body;
	@include serif;
}

.code{
	@include font-size-body;
	@include monospace;
}




/*     Styles
----------------------------------------------------------------------------- */

a{
	text-decoration: none;
	&:hover{
		text-decoration: underline;
	}
}

%callout-block{
	padding: $baseline * 3 $baseline * 4;
	background: $bright;
	border-top: 1px solid $light;
	border-bottom: 1px solid $light;
	max-width: 100%;
	margin: $baseline * 4 0 $baseline * 4 $baseline * -4;
}

%normalize{
	h1{
		@include sans;
		@include font-size-title;
		color: $dark;
		margin: 0 0 $baseline * 2 0;
	}
	p{
		@include serif;
		@include font-size-body;
		color: $mid;
		margin: $baseline 0 $baseline * 2 0;
	}
	pre{
		@extend %callout-block;
		code{
			@include monospace;
		}
	}
	blockquote{
		@extend %callout-block;
		p{
			@include font-size-title;
			@include sans-light;
		}
	}
}