@import "_lib/normalize.scss";
@import "_lib/$variables.scss";
@import "_lib/@mixins.scss";
@import "_lib/base.scss";

/*
**  TABLE OF CONTENTS
**
**  1. Page Elements
**  2. Page Content
*/


/*    Layout
----------------------------------------------- */


/*
**  Columns for the grid
**
*/
%col {
  padding-left: $gutter;
  padding-right: $gutter;
  display: inline-block;
  @include box-sizing;
  vertical-align: top;
}

.col {
  @extend %col;
}

/*
**  Spans for the grid
**
*/
%span1of1 { width: percentage(1/1); }
%span1of2 { width: percentage(1/2); }
%span1of3 { width: percentage(1/3); }
%span2of3 { width: percentage(2/3); }
%span1of4 { width: percentage(1/4); }
%span2of4 { width: percentage(2/4); }
%span3of4 { width: percentage(3/4); }

.span1of1 { @extend %span1of1; }
.span1of2 { @extend %span1of2; }
.span1of3 { @extend %span1of3; }
.span2of3 { @extend %span2of3; }
.span1of4 { @extend %span1of4; }
.span2of4 { @extend %span2of4; }
.span3of4 { @extend %span3of4; }


/*
**
*/
.wrapper {
  width: 90%;
  max-width: 1008px;
  margin: 0 auto;
}

.content {
  @extend %col;
  @extend %span2of3;
}


/*     Page Elements
----------------------------------------------------------------------------- */

html, body{
  width: 100%;
  height: 100%;
}

body{
  background: $light;
  -webkit-font-smoothing: antialiased;
}

.site-navi{
  @extend %col;
  @extend %span1of3;
  border-right: 6px solid $pop;
  vertical-align: middle;
  .site-title{
    h1{
      margin: 0 0 ( ( $baseline / 2 ) - 1) 0;
      @include font-size-body;
      @include sans;
      line-height: $baseline;
    }
    @media screen and ( max-width: 42 * $baseline ){
      margin: 0;
      width: 50%;
      float: left;
      h1{
        line-height: $baseline * 2;
      }
    }
  }
  a{
    color: $dark;
    &:hover {
      color: $black;
    }
  }
}

.page-title {
  @extend .content;
  vertical-align: middle;
}

/*
**
**
*/
.post-nav{
  border-bottom: 1px solid $light;
  padding: $baseline * 2.5 0 $baseline/2 ( $baseline * 2 - 4 );
  @media screen and ( max-width: 42 * $baseline ){
    padding: $baseline 0 $baseline/2 ( $baseline * 2 - 4 );
  }
  a{
    color: $light;
    @include font-size-body;
    text-decoration: none;
    @include transition;
    &:before{
      content: '\2190';
      margin-right: $baseline;
      position: relative;
      bottom: .066666667em;
    }
    &:hover{
      color: $mid;
    }
  }
}


/*
**
**
*/
.post{
  padding-top: $baseline * 4;
  @media screen and ( max-width: 42 * $baseline ){
    padding-top: $baseline * 2;
  }
  hgroup{
    padding-left: $baseline * 4;
    .title{
      margin: 0;
    }
    .body{
      margin: $baseline / 2 0 $baseline 0;
    }
    &:after{
      content: '';
      display: block;
      width: $baseline * 4;
      height: $baseline;
      background: $dark;
      margin-top: 35px;
    }
    @media screen and ( max-width: 42 * $baseline ){
      @include box-sizing;
      padding: $baseline;
      width: 100%;
      margin-left: 0;
    }
  }
}

.post-content{
  @extend %normalize;
  padding-top: $baseline * 3.5;
  padding-left: $baseline * 4;
  *{
    max-width: $baseline * 42;
  }
  p{
    margin-right: $baseline * 2;
    @media screen and ( max-width: 42 * $baseline ){
      margin-right: 0;
    }
  }
  @media screen and ( max-width: 42 * $baseline ){
    @include box-sizing;
    padding: 0 $baseline;
    width: 100%;
    margin-left: 0;
  }
}


/*
**  .post-list
**    %a
**      %h1 Post Title
**      %p Post Date
*/
.post-list{
  padding: $baseline * 8 0;
  @extend %normalize;
  @media screen and ( max-width: 42 * $baseline ){
    padding: 0;
  }
  > h2{
    @include font-size-body;
    @include serif;
    font-weight: normal;
    color: $mid;
    padding-left: $baseline * 4;
    margin-bottom: $baseline;
  }
  .post{
    padding-top: 0;
  }
  a{
    display: block;
    text-decoration: none;
    padding: ( $baseline * 2 - 1 ) ( $baseline * 4 ) ( $baseline * 2 ) ( $baseline * 4 );
    border-bottom: 1px solid $light;
      @include transition( background, .1s, linear );
    @media screen and ( max-width: 42 * $baseline ){
      padding-left: $baseline;
      padding-right: $baseline;
    }
    &:first-of-type{
      border-top: 1px solid $light;
      margin-top: -1px;
    }
    &:hover{
      @include transition( background, .2s, linear );
      background: mix( $light, $white, 40% );
      cursor: pointer;
      position: relative;
      z-index: 100;
      margin-top: -1px;
      border-color: mix( $light, $mid, 50% );
      border-top: 1px solid mix( $light, $mid, 50% );
    }
    h1{
      margin: 0;
    }
    p{
      margin: $baseline / 2 0;
    }
  }
}

/*     Page Content
----------------------------------------------------------------------------- */

.notice {
  max-width: 100%;
  @extend %callout-block;
  background: $highlight;
}

.content-home{
  @include box-sizing;
  @extend %callout-block;
  margin: 0;
  padding-top: 52px;
  *{
    max-width: $baseline * 42;
  }
  .title{
    font-size: $baseline * 4;
    line-height: $baseline * 4;
    margin-bottom: 28px;
  }
  a{
    color: $dark;
    opacity: 0.7;
    @include transition;
    &:hover{
      opacity: 1.0;
    }
  }
}

.content-contact{
  @include box-sizing;
  @extend %callout-block;
  margin: 0;
  .title{
    margin: $baseline 0 0 0;
  }
  a{
    color: $dark;
    opacity: 0.7;
    @include transition;
    &:hover{
      opacity: 1.0;
    }
  }
}
