- content_for :page_header do
  = render_partial "page_header", { title: current_article.title, subtitle: current_article.date.strftime('%b %e, %Y') }

- wrap_layout :layout do

  .post-content
    = yield