- content_for :page_header do
  = render_partial "page_header", { title: current_resource.title, subtitle: current_resource.short_description }

- wrap_layout :layout do

  .post-content
    = yield

    %hr

    %a.btn{ href: current_resource.repo_url } View on GitHub