%header.site-navi
	%a.site-title{ :href => "/" }
		%h1 Steven Sloan

	%nav
		%a{ :href => "/articles/", :class => ( current_path.include? "articles" ) ? "is-here" : "" } articles
		%a{ :href => "/projects/", :class => ( current_path.include? "projects" ) ? "is-here" : "" } projects
		%a{ :href => "/contact/", :class => ( current_path.include? "contact" ) ? "is-here" : "" } contact